 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
 }

 body{
    font-size: 20px;
    background: url(Drum.jpg);
    font-family: sans-serif;
 }

 .keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
 }
 h1, p {
    text-align: center;
    margin-top: 30px;
 }

 .key{
    border: .4rem solid rgba(0, 0, 0, 0.24);
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    width: 10rem;
    text-align: center;
    transition: all .07s ease;
    background: rgba(58, 53, 53, 0.4);
    cursor: pointer;
 }
 .playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
 }

 kdb{
    display: block;
    font-size: 4rem;
 }

 .sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;

 }